<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta
            http-equiv="X-UA-Compatible"
            content="IE=edge"
        >
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        >
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/min/tiny-slider.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="../script.js"></script>
        <script type="text/javascript">
            alert("This alert box was called with the onload event");
        </script>
    </head>

    <body>
      <header>

      </header>

        <Section>
            <div class="containers">
                <div class="row blog">
                    <h1
                        class="heading02"
                        id="heading02"
                    >
                        Our Packages
                    </h1>
                    <!-- <h2
                        class="heading04s"
                        id="heading04"
                    >

                    </h2> -->
                    <div class="col-md-12">
                        <div class="carousel-inner">

                            <div class="carousel-item active">
                                <div class="row">
                                    <owl-carousel-o [options]="customOptions">
                                        <ng-template carouselSlide>
                                            <div class="col-md-12">
                                                <img
                                                    class="slideImg"
                                                    src="../assets/download.jfif "
                                                    alt="img 1"
                                                >
                                                <div>
                                                    <h2 class="section04Text">Mobile Internet<br>Start Here ></h2>

                                                </div>
                                                <h2
                                                    class="section03Text"
                                                    style="color:#17a0ce; font-weight: 300;text-align: center;"
                                                >
                                                <b>Mobile <br></b>
                                                <b>Internet</b>
                                                </h2>
                                            </div>
                                        </ng-template>
                                        <ng-template carouselSlide>
                                            <div class="col-md-12">
                                                <img
                                                    class="slideImg"
                                                    src="../assets/home.jfif"
                                                    alt="img 2"
                                                >
                                                <div>
                                                    <h2 class="section04Text">Home Internet <br>Start Here  ></h2>
                                                </div>
                                                <h2
                                                    class="section03Text"
                                                    style="color:#17a0ce; font-weight: 300;text-align: center;"
                                                >
                                                    <b>Home <br></b>
                                                    <b>Internet</b>
                                                </h2>
                                            </div>
                                        </ng-template>
                                        <ng-template carouselSlide>
                                            <div class="col-md-12">
                                                <img
                                                    class="slideImg"
                                                    style="background-image:linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73));"
                                                    src="../assets/device.jpg"
                                                    alt="img 3"
                                                >
                                                <div>
                                                    <h2 class="section04Text">Get a device<br>Start Here ></h2>
                                                </div>
                                                <h2
                                                    class="section03Text"
                                                    style="color:#17a0ce; font-weight: 300;text-align: center;"
                                                >
                                                    <b>Get a device</b>
                                                </h2>
                                            </div>
                                        </ng-template>
                                        <ng-template carouselSlide>
                                            <div class="col-md-12">
                                                <img
                                                    class="slideImg"
                                                    src="../assets/line.png"
                                                    alt="img 4"
                                                >
                                                <div>
                                                    <h2 class="section04Text">Add a phone-line<br>Start Here ></h2>
                                                </div>
                                                <h2
                                                    class="section03Text"
                                                    style="color:#17a0ce; font-weight: 300;text-align: center;"
                                                >
                                                    <b>Add a phone-line</b>
                                                </h2>
                                            </div>
                                        </ng-template>
                                        <ng-template carouselSlide>
                                            <div class="col-md-12">
                                                <img
                                                    class="slideImg"
                                                    src="../assets/upgrade.jfif"
                                                    alt="img 5"
                                                >
                                                <div>
                                                    <h2 class="section04Text">Upgrade<br>Start Here ></h2>

                                                </div>
                                                <h2
                                                    class="section03Text"
                                                    style="color:#17a0ce; font-weight: 300;text-align: center;"
                                                >
                                                    <b>Upgrade</b>
                                                </h2>
                                            </div>
                                        </ng-template>
                                        <!-- <ng-template carouselSlide>
                                            <div class="col-md-12">
                                                <img
                                                    class="slideImg"
                                                    src="../assets/Auntie Mo Mo.jpg"
                                                    alt="img 6"
                                                >
                                                <div>
                                                    <h2 class="section04Text">Snr developer</h2>
                                                </div>
                                                <h2
                                                    class="section03Text"
                                                    style="color:#17a0ce; font-weight: 300;"
                                                >
                                                    AUNTIE
                                                    <b>MO MO</b>
                                                </h2>
                                                <h2
                                                    class="section03Text"
                                                    style="font-weight: 300;"
                                                >
                                                    oooooo child!!
                                                </h2>
                                            </div>
                                        </ng-template> -->
                                    </owl-carousel-o>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>



        </Section>

        <footer class="page-footer font-small cyan darken-3">


        </footer>

    </body>
</html>
